---
---

@import "{{ site.theme }}";


/* fix theme’s list styles */

ul li { padding-left: 0; }
ul ul { margin-left: 0.5em; }


/* m:tg–y font for headings */

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

h1,
h2,
h3,
h4,
h5,
header,
header h1
{
  font-family: 'Sorts Mill Goudy', serif;
}
